<h1>Ifo process object</h1>
<ul>
    <li>Argumentos de entrada: {{data.arg}}</li>
    <li>Nombre de la plataforma: {{data.platform}}</li>
    <li>Versión de node.js: {{data.node}}</li>
    <li>Memoria total reservada: {{data.memory}} bytes</li>
    <li>Phat de ejecución: {{data.exe}} </li>
    <li>Process id: {{data.pid}} </li>
    <li>Carpeta del proyecto: {{data.proyect}} </li>
</ul>